*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.intro{
    height: 100vh;
}
.intro video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.intro h1{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color:aliceblue
}
.intro h2{
    position:absolute;
    top:70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color:aliceblue;
    opacity: 0%;
}
section{
    height: 100vh;
    color: black;
    background-color: rgb(0, 0, 0);
    border-top: 5px whitesmoke;
}
#l_t{
    /* padding-top: 300px;
    text-align: center; */
    position: relative;
    top:30%;
    padding-top: 0px; 
    left: 10%; 
    color: white;
    /* justify-content: center; */
}
section img{
    border-radius: 20%;
    position: relative;
    left:46%;
    top: 10%;
}
